/*
	Author	:	Stephanie Eordanidis
	Email	: 	eordanis@kean.edu
	Website	:	eve.kean.edu:8080/krs
*/
* {
	border:0;
	margin:0;
	padding:0;
}

/* general */
a {
	color:#FFFFFF;
	text-decoration:none;
}

li {
	color:#FFA319;
}

a:hover {
	color:#FF6600;
	text-decoration:none;
}

/* body */
body {
	background:#96B49C;
	color:#FFFFFF;
	font:1em Arial, Helvetica, "bitstream vera sans", sans-serif;
}

/* header */
#header {
	border-bottom:0.25em solid #FF6600;
	height:5em solid #E65C00;
	margin:0 auto;
	width:50em;
}
#header h1 {
	color:#FFFFFF;
	font-size: 2em;
	letter-spacing:-3px;
	text-align:right;
	padding:5px;
	margin-bottom:-20px;
	margin-top:20px;
}
#header h2 {
	color:#FFFFFF;
	font-size: 2em;
	letter-spacing:-2px;
	text-align:right;
}
h2{
	color:#FFFFFF;
}
h4{
	color:#FFFFFF;
}

/* navigation */
#navigation {
	background:#FFE9D3;
	border-right:0.25em solid #FF6600;
	border-left:0.25em solid #FF6600;
	margin:0 auto;
	width:50em;
	height:1em;
	list-style:none;
}
#navigation li {
	float:left;
	width:7em;
	list-style:none;
}
#navigation a {
	color:#000000;
	display:block;
	line-height:3em;
	text-align:center;
}
#navigation a:hover {
	background:#FF6600;
	color:#FFFFFF;
}
#navigation .active {
	background:#E65C00;
	color:#000000;
}

/* content */
#content {
	height:auto;
	margin:0 auto;
	padding:0 0 20px;
	width:50em;
}
#content h1 {
	border-bottom:1px solid #FF6600;
	font-size:1.8em;
	padding:20px 0 0;
}
#content p {
	padding:20px 20px 0;
}

/* footer */
#footer {
	border-top:1px solid #FF6600; 
	height:50px;
	margin:0 auto;
	padding:10px;
	text-align:center;
	width:50em;
	color: #E65C00;
}

.error, .ad {
	font-weight: bold;
	color: #C00
}

input, select, .input {
	padding: 5px;
	font-weight: bold;
	font-size: 1em;
	color: #FF6600;
	background: #FFFFFF;
	border:1px solid #E65C00;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #FF6600;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FF6600;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FF6600;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #FF6600;
}



/*original content*/

.centerElement{
	margin-left:auto;
	margin-right:auto;
}
hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.serviceWork {
    border: 2px solid black;
    background-color: darkgray;
    padding: 10px; 
    height: auto; 
}